@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.baseStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 520px;
  background-color: #c0c0c0;
  border: 8px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

.scoreBaseStyle {
  top: 15px;
  left: 13px;
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 90px;
  padding: 9px;
  background-color: #c0c0c0;
  border: 8px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.timeBoardStyle {
  top: 8px;
  left: 240px;
  display: flex;
  justify-content: center;
  width: 90px;
  height: 58px;
  font-family: 'VT323', monospace;
  font-size: 51px;
  color: red;
  background-color: #000;
  border: 3px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.scoreboardStyle {
  top: 8px;
  left: 13px;
  display: flex;
  justify-content: center;
  width: 90px;
  height: 58px;
  font-family: 'VT323', monospace;
  font-size: 51px;
  color: red;
  background-color: #000;
  border: 3px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.resetBoardStyle {
  top: 8px;
  left: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: url('~/src/assets/images/minesweeper-icons.png') no-repeat;
  background-position: -330px 0;
  border: 10px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  transition: all 0.2s ease;
}

.resetBoardStyle:active {
  background-position: -330px;
  border: 10px solid #808080;
  transform: translateY(2px);
}

.bomb {
  position: relative;
  display: flex;
  width: 35px;
  height: 35px;
  background: url('~/src/assets/images/minesweeper-icons.png') no-repeat;
  background-position: -300px;
  border: 3px solid #808080;
}

.clickedBomb {
  background-color: red !important;
}

.flag {
  display: flex;
  width: 35px;
  height: 35px;
  background: url('~/src/assets/images/minesweeper-icons.png') no-repeat;
  background-position: -270px;
  border: 5px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

.question {
  display: flex;
  width: 35px;
  height: 35px;
  background: url('~/src/assets/images/minesweeper-icons.png') no-repeat;
  background-position: -240px;
  border: 5px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 331px;
  height: 330px;
  background-color: #c0c0c0;
  border: 8px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.stone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 5px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}
