.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/minesweeper-icons.png') no-repeat;
}

.baseStyle {
  position: relative;
  display: flex;
  width: 400px;
  height: 520px;
  background-color: #c0c0c0;
  border: 8px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

.scoreboardStyle {
  position: absolute;
  top: 25px;
  left: 13px;
  width: 360px;
  height: 80px;
  background-color: #c0c0c0;
  border: 8px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.boardWrapper {
  position: relative;
  top: 130px;
  left: 13px;

  .boardStyle {
    position: relative;
    width: 360px;
    height: 360px;
    background-color: #c0c0c0;
    border: 8px solid #808080;
    border-right-color: #fff;
    border-bottom-color: #fff;
  }

  .cellStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 5px solid #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
  }
}
